@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

html, body {
  scroll-behavior: smooth; }
  @media screen and (max-width: 415px) {
      #titulo {
	font-size: 60pt !important;
	}
}

html, body {
  scroll-behavior: smooth; }
  @media screen and (max-width: 365px) {
    #titulo {
	font-size: 50pt !important;
	}
}

html, body {
  scroll-behavior: smooth; }
  @media screen and (max-width: 263px) {
   #titulo {
	font-size: 30pt !important;
}
    
}

body {
  font-family: 'Encode Sans', sans-serif;
  color: #161616 !important;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

p {
  text-align: justify;
}

nav {
  background-color:#325223 !important;
  color: white;
  border-color: white !important;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}

nav > div > ul > li > a, nav > div > ul > li > a:hover, nav > div > ul > li > a:focus {
  background-color:#325223 !important;
  color: white;
  border-color: white !important;
}

.subtitulo {
  font-weight:bold;
  background-color:white;
  color:black;
}

#return-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-top:hover i {
  color: #fff;
  top: 5px;
}

.background {
  height:300pt;
  background:url(../img/bg.jpg) no-repeat center;
  background-size:cover;
}

ul > li > a, ul > li > a:hover, ul > li > a:focus {
  color:#325223;
}

/*
.navbar-nav {
  margin-top:14px;
}

.navbar-nav .nav li {
  height:50px;
}

.navbar-nav > li > a {
  padding-top:8px;
  padding-bottom:8px;
  line-height:32px;
}

.navbar-default .navbar-nav > li > a {
  color:#333;
  font-weight:bold;
  background-color:rgba(255,255,255,0.4);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:#fff;
  background-color:rgba(0,0,0,0.6);
  font-weight:bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:#fff;
  background-color:rgba(0,0,0,0.6);
  font-weight:bold;
}

.navbar-toggle {
  background-color:#fff !important;
  box-shadow:1px 1px 1px rgba(0,0,0,0.4);
  margin-top:20px;
}

nav.navbar.navbar-default {
  background:none;
  box-shadow:none;
}

.navbar-brand {
  height:75px;
  font-size:18px;
  color:#fff !important;
  text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

.navbar-brand span.text-title {
  text-transform:uppercase;
  font-weight:bold;
}

@media (max-width:767px) {
  .navbar-brand span.text-title {
    display:none;
  }
}

.navbar-brand .glyphicon {
  display:inline-block;
  font-size:36px;
  color:#fff;
  vertical-align:middle;
  margin-right:20px;
  position:relative;
  top:-2px;
}

*/

.categories {
  text-align:center !important;
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding:10px;
}

.categories li {
  display:inline-block !important;
  float:none;
}

.post-body {
  margin-top:30px;
  font-size:16px;
}

@media (min-width:992px) {
  .post-title {
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author {
  text-transform:uppercase;
}

.post-body figure {
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span {
  margin-left:5px;
}

.post-title h1 {
  font-weight:bold;
  margin-top:30px;
}

@media (max-width:767px) {
  .post-title h1 {
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}

footer {
  padding:20px;
  text-align:center;
  background-color:#333;
  color:#fff;
}

footer h5 {
  color:inherit;
}

div.container.post {
  margin-bottom:50px;
}
